:root {
    --toolbar-height: 72px;
}

mr-app {
    line-height: 100%;
    font-family: system-ui;
    font-size: 16px;
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: white;
    padding-bottom: var(--toolbar-height);
}

.nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--toolbar-height);
    background-color: red;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#name {
    font-size: 36px;
}

#models {
    width: 300px;
    height: 200px;
    z-index: 60;
}

mr-button {
    padding: 10px;
    display: inline-block;
    position: relative;
    z-index: 1;
    font-size: 20px;
    height: 100%;
    width: 160px;
    background-color: white;
    color: black;
    background-color: yellow;
}
